.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 0.5rem;
    padding: 0 2rem;
    box-sizing: border-box;
    width: 40%;
  }

.card div {
    margin-bottom: 1rem;
}

.top-space {
    margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
    .card {
        margin-left: 0;
        width: 100%;
        margin-top: 2rem;
        margin-left: 0;
    }
    .price-breakdown {
        padding-bottom: 2rem;
    }
  }