.app {
  display: flex;
  flex-direction: row;
  padding: 2rem 4rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 2rem;
}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-container input {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.form-fieldset {
  border: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .form-container {
    width: 100%;
    margin-right: 0;
  }
}